*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card p{
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  border: none;
  font-weight: 600;
}

#card p span{
  font-weight: 600;
  color: royalblue;
}

#card {
  width: 450px;
  background-color: white;
  border-radius: 10px;
  padding: 30px ;
}


#outer {
  height: 20px;
  border-radius: 50px;
  width: 100%;
  background-color: rgb(184, 184, 184);
}

#inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    user-select: none;
}

#bottom h2 {
    font-size: 60px;
    font-family: monospace;
}

#bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

#bottom button:active{
    scale: 0.95;
}