*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
html,
body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 20px 30px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 9 ;
}

button:active{
    scale: 0.95;
}