*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(49, 45, 45),rgb(37, 33, 33),black);
    padding: 20px;
}


section{
    height: 100%;
    width: 350px;
    margin: auto;
    border-radius: 20px;
}

.all-reels{
    height: 100%;
    width: 100%;
    position: relative;
}

.reel{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.reel img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bottom{
    padding: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.102);
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}

.bottom img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}