*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(178, 172, 220);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    height: 35%;
    width: 100%;
    background: linear-gradient(transparent,black); 
    position: absolute;
    bottom: -35%;
    transition: all ease 0.5s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.bottom h4{
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.bottom h3{
    font-size: 30px;
    color: white;
    font-weight: 400;
}

.card:hover .bottom {
    bottom: 0;
}